.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd; /* Borda para simular o divisor */
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 8px;
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.product-info {
    text-align: center;
    margin-top: 10px;
}

.product-name {
    font-weight: bold;
}

.product-price {
    color: #5e8975;
    font-weight: bold;
    margin-top: 5px;
}

.product-price-q {
    color: gray;
    font-weight: normal;
    margin-top: 5px;
    font-size: 10pt;
    text-decoration: line-through;
}